<!DOCTYPE html>
<html>

<head>
    <title>Insurance Prediction</title>
</head>

<body>

<h2>Insurance Premium Prediction</h2>

<form action="/predict" method="POST">

    Age
    <input type="number" step="any" name="age"><br><br>

    Bmi
    <input type="number" step="any" name="bmi"><br><br>

    Child
    <input type="number" step="any" name="Child"><br><br>

    Gender Enter 1 if male else 0:
    <input type="number" step="any" name="Gender"><br><br>

    Smoker Enter 1 if smoker:
    <input type="number" step="any" name="smoker"><br><br>

    <input type="submit" value="Predict">

</form>

</body>
</html>